@media (max-width:1400px){
    /* 4 Services */
    .services_wrapper .service_phone{
        max-width:80%;
    }
} 

@media (max-width:1230px) { 
    /* 4 Services */
    .services_wrapper .service_phone{
        max-width:100%;
    }
} 

@media (max-width:991px) {

    /* custom css */
    section{
        padding:20px 0;
    }
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 30px;
        line-height: 40px;
    }
    h3{
        font-size: 20px;
    } 

    /* 2 Navbar */
     .header-scrolled{
         height:auto;
     }
     .header_wrapper .menu-navbar-nav{
         text-align: center;
         background-color:var(--bg-white);
         padding-bottom:15px;
     }
     .header_wrapper .nav-item .nav-link{
         margin-top:15px;
     }

    /* blog */
    .blog_wrapper .newsletter{
        width:100%;
    }
     
}

@media (max-width: 767px) {

    /* custom css */
    h1{
        font-size: 30px;
    }
    h3{
        font-size: 22px;
    }
    p{
        font-size: 13px;
    }
    .main-btn{
        font-size: 13px;
    }
     
}

        
      
